<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="Home" Icon="home" Path="" />
    <RadzenPanelMenuItem Text="Counter" Icon="alarm" Path="counter" />
    <RadzenPanelMenuItem Text="Weather" Icon="build" Path="weather" />
    <RadzenPanelMenuItem Text="Level 1" Icon="auto_awesome">
        <RadzenPanelMenuItem Text="Level 2 One" Icon="color_lens" />
        <RadzenPanelMenuItem Text="Level 2 Two" Icon="invert_colors" />
    </RadzenPanelMenuItem>
    <div class="rz-p-4">
        Sidebar
    </div>
</RadzenPanelMenu>


