<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="Home" Icon="home" Path="" />
    <RadzenPanelMenuItem Text="Counter" Icon="alarm" Path="counter" />
    <RadzenPanelMenuItem Text="Weather" Icon="build" Path="weather" />

    <RadzenPanelMenuItem Text="Layout" Icon="dns">
        <RadzenPanelMenuItem Text="Stack" Icon="list" Path="stack" />
        <RadzenPanelMenuItem Text="Row" Icon="line_weight" Path="row" />
        <RadzenPanelMenuItem Text="Column" Icon="line_style" Path="column" />
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="Navigation" Icon="&#xe762">
        <RadzenPanelMenuItem Text="Login" Icon="&#xe8e8" Path="login" />
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="Forms" Icon="&#xf1c1">
        <RadzenPanelMenuItem Text="Clientes" Icon="groups" Path="clients" />
        <RadzenPanelMenuItem Text="Products" Icon="category" Path="product-search" />
        <RadzenPanelMenuItem Text="TemplateForm" Icon="&#xe06d" Path="TemplateForm" />
    </RadzenPanelMenuItem>

    <div class="rz-p-4">
        Sidebar
    </div>
</RadzenPanelMenu>


