<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="Home" Icon="home" Path="" />
    <RadzenPanelMenuItem Text="Counter" Icon="alarm" Path="counter" />
    <RadzenPanelMenuItem Text="Weather" Icon="build" Path="weather" />

    <RadzenPanelMenuItem Text="Layout" Icon="dns">
        <RadzenPanelMenuItem Text="Stack" Icon="list" Path="stack" />
        <RadzenPanelMenuItem Text="Row" Icon="line_weight" Path="row" />
    </RadzenPanelMenuItem>

    <div class="rz-p-4">
        Sidebar
    </div>
</RadzenPanelMenu>


