@page "/client-filter-dialog"
@inherits RadzenComponent
@inject DialogService DialogService

@code {
    [Parameter] public SearchModel SearchModel { get; set; }
    [Parameter] public EventCallback OnSearch { get; set; }
    [Inject] DialogService Service { get; set; }

    private async Task Search()
    {
        if (OnSearch.HasDelegate)
        {
            await OnSearch.InvokeAsync();
        }

        Service.CloseSide();
    }

    private void Clear()
    {
        SearchModel.Name = string.Empty;
        SearchModel.Email = string.Empty;
    }
}


<RadzenTemplateForm Data="@SearchModel" Submit="@((SearchModel args) => Search())">
    <div class="row">
        <div class="col-md-12">
            <RadzenLabel Text="Name" />
            <RadzenTextBox @bind-Value="SearchModel.Name" Style="width: 100%;" />
        </div>
        <div class="col-md-12">
            <RadzenLabel Text="Email" />
            <RadzenTextBox @bind-Value="SearchModel.Email" Style="width: 100%;" />
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12 button-row">
            <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Dark" Text="Cancel" Click="@(_ => Service.CloseSide())" />
            <div class="ml-auto">
                <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Primary" Text="Clear" Click="@Clear" Style="margin-right: 0.5rem;" />
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Search" Icon="search" ButtonType="ButtonType.Submit" />
            </div>
        </div>
    </div>
</RadzenTemplateForm>

<style>
    .button-row {
        display: flex;
        align-items: center;
    }

    .ml-auto {
        margin-left: auto;
        display: flex;
    }
</style>

